body {
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

.pääotsikko {
    color: #333;
    margin-top: 1em;
    padding-top: 1em;
}

.alaotsikko {
    color: #333;
}






